<div style="text-align:center; border: 2px solid #2E86C1; border-radius: 10px; padding: 30px; background-color: #F4F6F7;">

<h1 style="color:#154360; font-family:'Georgia', serif; font-size: 2.8em; margin-bottom: 20px;">APS106: Fundamentals of Computer Programming</h1>

<h2 style="color:#1A5276; font-family:'Palatino Linotype', 'Book Antiqua', serif; font-size: 2.0em; margin-bottom: 30px;">Tutorial 8, Week 9</h2>

<h3 style="color:#6C3483; font-family:'Cambria', serif; font-size: 1.8em; text-decoration: underline; margin-bottom: 15px;">Topics Covered</h3>
<p style="text-align:center; font-family:'Trebuchet MS', sans-serif; font-size: 1.3em; line-height: 1.8;">
  <span style="color:#D35400; font-weight:bold;">Programming Concepts</span><br>
  <span style="color:#283747;">• Tuples</span><br>
  <span style="color:#283747;">• Sets</span><br> 
  <span style="color:#283747;">• Dictionaries</span><br> 
  <span style="color:#283747;">• Advanced Functions</span><br>
</p>

<h3 style="color:#6C3483; font-family:'Cambria', serif; font-size: 1.8em; text-decoration: underline; margin-bottom: 15px;">Goals for This Tutorial</h3>
<p style="text-align:center; font-family:'Verdana', sans-serif; font-size: 1.2em; line-height: 1.8;">
  <span style="color:#21618C;">• Understand how and when to use tuples, sets, and dictionaries.</span><br> 
  <span style="color:#21618C;">• Learn key operations and methods for working with these data structures.</span><br> 
  <span style="color:#21618C;">• Learn how to use optional arguments and default values in advanced functions.</span><br>
</p>
</div>

### Today's Topics
1. [Tuples](#1.-Tuples)
    - [Problem 1: Swapping Elements in a Tuple](#Problem-1:-Swapping-Elements-in-a-Tuple)
    - [Problem 2: Finding the Longest Streak of a Number](#Problem-2:-Finding-the-Longest-Streak-of-a-Number)
2. [Sets](#2.-Sets)
    - [Problem 3: Finding Duplicates in Lists](#Problem-3:-Finding-Duplicates-in-Lists)
    - [Problem 4: Finding the Largest Set Intersection](#Problem-4:-Finding-the-Largest-Set-Intersection)
3. [Dictionaries](#3.-Dictionaries)
    - [Problem 5: Merging Dictionaries](#Problem-5:-Merging-Dictionaries)
    - [Problem 6: Finding Students Enrolled in a Given Class](#Problem-6:-Finding-Students-Enrolled-in-a-Given-Class)
4. [Advanced Functions](#4.-Advanced-Functions)
5. [Aliasing and Mutable/Immutable Objects as Function Arguments](#-5.-Aliasing)
6. [Appendix: Review Practice Problems](#6.-Appendix:-Review-Practice-Problems)
    - [Problem 7: Calculating Student Averages from Test Scores)](#Problem-7:-Calculating-Student-Averages-from-Test-Scores)
    - [Problem 8: Analyzing Factory Production Data](#Problem-8:-Analyzing-Factory-Production-Data)

## 1. Tuples

### 1.1 What is a Tuple?

A **tuple** is an **ordered**, **immutable** collection of elements. Unlike lists, tuples **cannot** be modified after they are created.

| **Property**       | **Description** |
|--------------------|----------------|
| **Ordered**       | Elements maintain their positions. |
| **Immutable**     | Cannot modify elements after creation. |
| **Allows Duplicates** | Tuples can contain duplicate values. |
| **Heterogeneous** | Tuples can store different data types (e.g., integers, strings, floats). |
| **Supports Indexing & Slicing** | Elements can be accessed using indices like lists. |

**Examples of creating Tuples:**

In [1]:
# Creating a tuple using parentheses
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

# Creating a tuple using tuple() function
another_tuple = tuple([6, 7, 8])
print(another_tuple)

(1, 2, 3, 4, 5)
(6, 7, 8)

Note: A single-element tuple must have a trailing comma:

In [11]:
single_element_tuple = (5,)  # Correct
print(single_element_tuple, " --> type:", type(single_element_tuple))

not_a_tuple = (5)  # This is just an integer
print(not_a_tuple, "    --> type:", type(not_a_tuple))

(5,)  --> type: <class 'tuple'>
5     --> type: <class 'int'>

### 1.2 Tuple Operators

In [1]:
t = (10, 20, 30, 40)

# Indexing
print(t[1])  # Output: 20

# Slicing
print(t[1:3])  # Output: (20, 30)

# Concatenation
print(t + (50, 60))  # Output: (10, 20, 30, 40, 50, 60)

# Repetition
print(t * 2)  # Output: (10, 20, 30, 40, 10, 20, 30, 40)

# Membership
print(20 in t)  # Output: True

# Comparison
print((1, 2, 3) == (1, 2, 3))  # Output: True

# ------

# Finding the length of a tuple
print(len(t))  # Output: 4

# Finding occurrences of an element 
print(t.index(30))  # Output: 2 (first occurrence of 30)

# Counting the number of occurrences of an element
print(t.count(20))  # Output: 1 (20 appears once)

20
(20, 30)
(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 10, 20, 30, 40)
True
True
4
2
1

### 1.3 Tuples vs Lists (Mutability)


Tuples are immutable, meaning we cannot change their elements after creation. However, mutable objects inside tuples (like lists) can still be modified.

In [2]:
# Tuples are immutable

# ---------------------------------------

t = (1, 2, 3)
# t[0] = 10  # TypeError: 'tuple' object does not support item assignment

# ---------------------------------------

# Lists inside tuples can be modified

t = (['sara', 75.0], ['cris', 72.5])
t[0][1] = 80.2
print(t[0])  # Output: ['sara', 80.2]

['sara', 80.2]

### 1.4 Swapping Values Using Tuples.

In [3]:
# Tuples can be used to swap values in a concise way.


a, b = 1, 2

# ----------------------------------------

# Swapping using a temporary variable
temp = a
a = b
b = temp
print(a, b)  # Output: 2 1

# ---------------------------------------

# Swapping using tuple unpacking
a, b = 1, 2
a, b = b, a
print(a, b)  # Output: 2 1

2 1
2 1

### 1.5 Returning Multiple Values from Functions

In [ ]:
# Returning Multiple Values from Functions. When a function returns multiple values, it actually returns a tuple.

import math

def trig_calculator(deg):
    sin = math.sin(math.radians(deg))
    cos = math.cos(math.radians(deg))
    tan = math.tan(math.radians(deg))
    return sin, cos, tan  # Returning a tuple

result = trig_calculator(30)
print(result)  # Output: (0.499, 0.866, 0.577)

(0.49999999999999994, 0.8660254037844387, 0.5773502691896256)

### Problem 1: Swapping Elements in a Tuple

**Problem Statement**

Write a function swap_first_last(tpl) that takes a tuple as input and returns a new tuple where the first and last elements are swapped.

Constraints
- The input tuple will always have at least two elements.
- The function must return a tuple (not a list).


```python
# ------------------------------------------------------------------------------
```

Example 1:
```python
tpl = (10, 20, 30, 40)
print(swap_first_last(tpl)) #Output: (40, 20, 30, 10)

```

```python
# ------------------------------------------------------------------------------
```

Example 2:
```python
tpl = ("apple", "banana", "cherry", "date")
print(swap_first_last(tpl)) #Output: ("date", "banana", "cherry", "apple")

```

In [23]:
def swap_first_last(tpl):
    """
    (tuple) -> (tuple)
    Given a tuple, return a new tuple with the first and last elements swapped.
    """

    return (tpl[-1],) + tpl[1:-1] + (tpl[0],) 

# - (tpl[-1],) → Creates a new tuple with the last element. The comma ensures it remains a tuple and not just a single value.
# - tpl[1:-1] → Extracts all elements except the first and last (middle elements).
# - (tpl[0],) → Creates a new tuple with the first element.
# - The `+` operator joins these parts together into a new tuple.

In [24]:
# Test cases
print(swap_first_last((10, 20, 30, 40)))  # Output: (40, 20, 30, 10)
print(swap_first_last(("apple", "banana", "cherry", "date")))  # Output: ("date", "banana", "cherry", "apple")

(40, 20, 30, 10)
('date', 'banana', 'cherry', 'apple')

### Problem 2: Finding the Longest Streak of a Number


**Problem Statement**

- Write a function longest_streak(t) that returns the number that appears the most times in a row (consecutively) in the tuple.

- If multiple numbers have the same longest streak, return the smallest one.

- If the tuple is empty, return None.

```python
# ------------------------------------------------------------------------------
```

Example 1:
```python
print(longest_streak((4, 4, 2, 2, 2, 3, 3, 3, 3, 1)))  # Output: 3

```
Explanation:

- 4 appears twice in a row.
- 2 appears three times in a row.
- 3 appears four times in a row (longest streak).
- 1 appears once.

Since 3 has the longest streak, return 3.

```python
# ------------------------------------------------------------------------------
```

Example 2:
```python
print(longest_streak((5, 5, 5, 2, 2, 2, 3, 3)))  # Output: 2

```
Explanation:

Since 5 and 2 are tied, return the smallest one, which is 2.

In [ ]:
def longest_streak(t):

    """
    Finds the number with the longest consecutive streak in the tuple.
    If there's a tie, returns the smallest one.
    (tuple) -> (int or None)
    
    """
 
    if not t:
        return None  # Handle empty tuple case

    max_streak = 1
    current_streak = 1
    best_number = t[0]

    for i in range(1, len(t)):
        if t[i] == t[i - 1]:  
            current_streak += 1  # Continue the streak
        else:
            # If a longer streak is found OR if it's a tie and the number is smaller
            if current_streak > max_streak or (current_streak == max_streak and t[i - 1] < best_number):
                max_streak = current_streak
                best_number = t[i - 1]
            current_streak = 1  # Reset streak count

    # Final check after the loop ends
    if current_streak > max_streak or (current_streak == max_streak and t[-1] < best_number):
        best_number = t[-1]

    return best_number

In [ ]:
# Test cases
print(longest_streak((4, 4, 2, 2, 2, 3, 3, 3, 3, 1)))    # Output: 3
print(longest_streak((5, 5, 5, 2, 2, 2, 3, 3)))          # Output: 2
print(longest_streak(()))                                # Output: None
print(longest_streak((7, 7, 8, 8, 8, 7, 7, 7, 9)))       # Output: 7
print(longest_streak((1, 1, 2, 2, 3, 3, 3)))             # Output: 3

3
2
None
7
3

## 2. Sets

### 2.1 What is a Set?



A **set** is an **unordered** collection of **distinct** elements. 

Unlike lists and tuples:


- Sets **do not allow duplicate values**.
- Sets are unordered, meaning the elements **do not have a fixed position**.
- Sets **do not support indexing or slicing**.

| **Property**       | **Description** |
|--------------------|----------------|
| **Unordered**     | Elements do **not** have a fixed position. |
| **Unique Elements** | A set **cannot** contain duplicate values. |
| **Mutable**       | Elements can be **added** or **removed** after creation. |
| **Heterogeneous** | Can store different data types (e.g., integers, strings, floats). |
| **No Indexing or Slicing** | Elements **cannot** be accessed by position. |

Examples of creating sets:

In [ ]:
# Creating an empty set
s = set()
print(s)  # Output: set()

# Defining a set with values
vowels = {'a', 'a', 'e', 'i', 'o', 'u'}
print(vowels)  # Output: {'a', 'o', 'i', 'e', 'u'} (duplicates removed)

# Defining a set with numbers
numbers = {1, 2, 3, 3, 2, 1}
print(numbers)  # Output: {1, 2, 3} (duplicates removed)

set()
{'a', 'o', 'i', 'e', 'u'}
{1, 2, 3}

Note: Sets ignore **Order**

In [41]:
print({1, 2} == {2, 1})  # Output: True
print([1, 2] == [2, 1])  # Output: False (Lists preserve order)
print((1, 2) == (2, 1))  # Output: False (Tuples preserve order)

True
False
False

### 2.1 Set Operations


| **Operation** | **Syntax** | **Description** | **Example** |
|--------------|-----------|----------------|-------------|
| **Length** | `len(s)` | Returns the number of elements in the set | `len({1, 2, 3})` → `3` |
| **Membership** | `x in s` | Checks if `x` is in the set | `2 in {1, 2, 3}` → `True` |
| **Non-membership** | `x not in s` | Checks if `x` is not in the set | `4 not in {1, 2, 3}` → `True` |
| **Subset** | `s.issubset(t)` or `s <= t` | Checks if `s` is a subset of `t` | `{1, 2} <= {1, 2, 3}` → `True` |
| **Superset** | `s.issuperset(t)` or `s >= t` | Checks if `s` is a superset of `t` | `{1, 2, 3} >= {1, 2}` → `True` |
| **Union** | `s.union(t)` or `s \| t` | Combines elements from both sets | `{1, 2}.union({2, 3})` → `{1, 2, 3}` |
| **Intersection** | `s.intersection(t)` or `s & t` | Finds common elements in both sets | `{1, 2, 3} & {2, 3, 4}` → `{2, 3}` |
| **Difference** | `s.difference(t)` or `s - t` | Elements in `s` but not in `t` | `{1, 2, 3} - {2, 3, 4}` → `{1}` |
| **Symmetric Difference** | `s.symmetric_difference(t)` or `s ^ t` | Elements in either `s` or `t` but not both | `{1, 2, 3} ^ {2, 3, 4}` → `{1, 4}` |
| **Adding an Element** | `s.add(x)` | Adds `x` to the set | `s = {1, 2}; s.add(3)` → `{1, 2, 3}` |
| **Removing an Element** | `s.remove(x)` | Removes `x` from the set (Error if not found) | `s = {1, 2, 3}; s.remove(2)` → `{1, 3}` |
| **Discarding an Element** | `s.discard(x)` | Removes `x` if it exists (No error if missing) | `s = {1, 2, 3}; s.discard(4)` → `{1, 2, 3}` |
| **Clearing a Set** | `s.clear()` | Removes all elements from the set | `s = {1, 2, 3}; s.clear()` → `set()` |
| **Copying a Set** | `s.copy()` | Returns a copy of the set | `s1 = {1, 2, 3}; s2 = s1.copy()` |

### Problem 3: Finding Duplicates in Lists

**Problem Statement**

Given a list of integers, determine if the list contains any duplicates.

- If any number appears at least twice, return True.
- If all numbers are unique, return False.


```python
# ------------------------------------------------------------------------------
```

Example 1:
```python
lst = [1, 2, 3, 4, 5]
print(contains_duplicate(lst)) #Output: False
```

```python
# ------------------------------------------------------------------------------
```

Example 2:
```python
lst = [1, 2, 3, 1]
print(contains_duplicate(lst)) #Output: True
```

In [ ]:
def contains_duplicate(lst):
    """
    (list) -> bool
    Returns True if the list contains duplicate elements, otherwise False.
    """
    return len(lst) != len(set(lst))  # Convert to set and compare lengths

In [ ]:
# Test cases
print(contains_duplicate([1, 2, 3, 4, 5]))  # Output: False
print(contains_duplicate([1, 2, 3, 1]))  # Output: True

False
True

### Problem 4: Finding the Largest Set Intersection

**Problem Statement**


You are given a list of sets. Your task is to write a function largest_intersection(sets) that:

- Finds the set that has the largest intersection size with any other set in the list.
- If multiple sets have the same largest intersection size, return the first one in the list.
- If the input list is empty or no intersections exist, return None.


```python
# ------------------------------------------------------------------------------
```

Example 1:
```python
sets = [{1, 2, 3}, {2, 3, 4}, {5, 6}, {2, 3, 5, 6}]
print(largest_intersection(sets))  # Output: {1, 2, 3}
```
Explanation:

Each set is compared with all other sets to find the largest intersection size:
- {1, 2, 3} ∩ {2, 3, 4} = {2, 3} (size = 2)
- {1, 2, 3} ∩ {5, 6} = {} (size = 0)
- {1, 2, 3} ∩ {2, 3, 5, 6} = {2, 3} (size = 2)
- {2, 3, 4} ∩ {5, 6} = {} (size = 0)
- {2, 3, 4} ∩ {2, 3, 5, 6} = {2, 3} (size = 2)
- {5, 6} ∩ {2, 3, 5, 6} = {5, 6} (size = 2)

The largest intersection size is 2, and multiple sets have this intersection size.
Since {1, 2, 3} is the first set to achieve this, it is returned.


```python
# ------------------------------------------------------------------------------
```

Example 2:
```python
sets = [{10, 20}, {20, 30}, {30, 40}]
print(largest_intersection(sets)) # Output: {10, 20}
```

Explanation:
- {10, 20} and {20, 30} intersect with 1 element ({20})
- {20, 30} and {30, 40} intersect with 1 element ({30})

Since all have equal intersections, return the first occurring set {10, 20}.

```python
# ------------------------------------------------------------------------------
```
Example 3:
```python
sets = [{1}, {2}, {3}]
print(largest_intersection(sets)) # Output: None
```

In [6]:
def largest_intersection(sets):
    """
    (list of sets) -> (set or None)
    
    Finds the set with the largest intersection with any other set in the list.
    If there is a tie, returns the first set in the list.
    If no intersections exist or the input is empty, returns None.
    """

    if not sets:
        return None  # Edge case: empty list
    
    max_intersection_size = 0
    best_set = None

    for i in range(len(sets)):
        for j in range(i + 1, len(sets)):  # Avoid redundant checks
            intersection_size = len(sets[i] & sets[j])  

            # If you don't remember `&`, you could do this instead:
            """
            intersection_size = 0
            for x in sets[i]:
                if x in sets[j]:  
                    intersection_size += 1  # Count shared elements manually
            """

            # Update best_set only if a larger intersection is found
            if intersection_size > max_intersection_size:
                max_intersection_size = intersection_size
                best_set = sets[i]

    if max_intersection_size > 0:
        return best_set
    else:
        return None  # Ensure a valid intersection exists

In [7]:

# Test cases
sets1 = [{1, 2, 3}, {2, 3, 4}, {5, 6}, {2, 3, 5, 6}]
print(largest_intersection(sets1))  # Output: {1, 2, 3}

sets2 = [{10, 20}, {20, 30}, {30, 40}]
print(largest_intersection(sets2))  # Output: {10, 20}

sets3 = [{1}, {2}, {3}]
print(largest_intersection(sets3))  # Output: None

{1, 2, 3}
{10, 20}
None

## 3. Dictionaries

### 3.1 What is a Dictionary?


A **dictionary** is a **key-value** pair data structure that allows fast lookups, insertions, and deletions.

- **Keys** must be **unique** and **immutable** (e.g., strings, numbers, tuples).
- **Values** can be any data type, including lists, sets, and even other dictionaries.
- Dictionaries are **mutable**, meaning they can be modified after creation.


| **Property**       | **Description** |
|--------------------|----------------|
| **Key-Value Pairs** | Stores data in pairs: `{key: value}`. |
| **Keys Must Be Unique** | No duplicate keys are allowed. |
| **Keys Must Be Immutable** | Keys can be strings, numbers, or tuples, but not lists or sets. |
| **Values Can Be Any Type** | Values can be lists, sets, dictionaries, etc. |
| **Mutable**       | Elements can be **added, updated, or removed**. |

Examples of creating Dictionaries:

In [ ]:
# Creating an empty dictionary
d = {}
print(d)  # Output: {}

#--------------------------------------

# Creating a dictionary with key-value pairs
student = {"name": "Jacob", "age": 21, "major": "Computer Science"}
print(student)  # Output: {'name': 'Jacob', 'age': 21, 'major': 'Computer Science'}

#--------------------------------------

# Dictionaries can have different types of keys and values, but keys must be unique and immutable
mixed_dict = {1: "one", "two": 2, 3.0: [3, 3, 3]}
print(mixed_dict)  # Output: {1: 'one', 'two': 2, 3.0: [3, 3, 3]}

{}
{'name': 'Jacob', 'age': 21, 'major': 'Computer Science'}
{1: 'one', 'two': 2, 3.0: [3, 3, 3]}

### 3.2 Accessing and Modifying Values

In [86]:
# Using keys to access values
student = {"name": "Jacob", "age": 21, "major": "Computer Science"}

print("student['name']:", student["name"])  # Output: Jacob
print("student['age']:", student["age"])   # Output: 21

#--------------------------------------

# Note: Accessing a non-existent key raises an error: 
# print(student["GPA"]) # KeyError: 'GPA'

# To avoid this, use .get():
print("student['age']:", student.get("GPA", "Not Available"))  # Output: Not Available

#--------------------------------------

# Adding a new key-value pair
student["GPA"] = 3.5
print(student)  # Output: {'name': 'Jacob', 'age': 21, 'major': 'Computer Science', 'GPA': 3.5}

#--------------------------------------

# Modifying a value
student["GPA"] = 3.7
print(student)  # Output: {'name': 'Jacob', 'age': 21, 'major': 'Computer Science', 'GPA': 3.7}

#--------------------------------------

# Removing a key-value pair
del student["GPA"]
print(student)  # Output: {'name': 'Jacob', 'age': 21, 'major': 'Computer Science'}

student['name']: Jacob
student['age']: 21
student['age']: Not Available
{'name': 'Jacob', 'age': 21, 'major': 'Computer Science', 'GPA': 3.5}
{'name': 'Jacob', 'age': 21, 'major': 'Computer Science', 'GPA': 3.7}
{'name': 'Jacob', 'age': 21, 'major': 'Computer Science'}

### 3.3 Iterating Through a Dictionary

In [ ]:
# Iterating through keys
student = {'name': 'Jacob', 'age': 21, 'major': 'Computer Science'}

#--------------------------------------

for key in student:
    print(key)  # Outputs: name, age, major

#--------------------------------------

# Iterating through values
for value in student.values():
    print(value)  # Outputs: Jacob, 21, Computer Science

#--------------------------------------

# Iterating through key-value pairs
for key, value in student.items():
    print(key, ":",  value)
    
# Output:
# name: Jacob
# age: 21
# major: Computer Science

name
age
major
Jacob
21
Computer Science
name : Jacob
age : 21
major : Computer Science

### 3.4. Dictionary Methods


```python
d = {"name": "Jacob", "age": 21, "major": "Computer Science", "GPA": 3.8}
```

| **Operation** | **Syntax** | **Description** | **Example** |
|--------------|-----------|----------------|-------------|
| **Get value** | `d.get(k, v)` | Returns `d[k]` if it exists, else `v` | `d.get("age", 0)` → `21` |
| **Add/Update** | `d[k] = v` | Sets `d[k]` to `v` | `d["GPA"] = 3.8` |
| **Remove key** | `del d[k]` | Removes `k` from `d` | `del d["GPA"]` |
| **Pop key** | `d.pop(k, v)` | Removes `k` and returns its value.  | `d.pop("age", "Not Found")` |
| **Keys list** | `d.keys()` | Returns a view of all keys | `d.keys()` → `dict_keys([...])` |
| **Values list** | `d.values()` | Returns a view of all values | `d.values()` → `dict_values([...])` |
| **Items list** | `d.items()` | Returns key-value pairs | `d.items()` → `dict_items([...])` |
| **Clear dictionary** | `d.clear()` | Removes all items from `d` | `d.clear()` → `{}` |
| **Copy dictionary** | `d.copy()` | Returns a shallow copy of `d` | `d2 = d.copy()` |

### Problem 5: Merging Dictionaries

**Problem Statement**

Write a function merge_dicts(d1, d2) that takes two dictionaries as input, where:
- Both dictionaries have strings as keys and integers as values.

The function returns a new dictionary where:
- If a key exists in both dictionaries, its value in the new dictionary should be the sum of the values from both dictionaries.
- If a key exists in only one dictionary, it should remain unchanged in the result.

Constraints:

- The function must not modify the original dictionaries.
- The function must return a new dictionary.




```python
# ------------------------------------------------------------------------------
```

Example:
```python
d1 = {'a': 3, 'b': 5, 'c': 2}
d2 = {'b': 7, 'c': 4, 'd': 8}
print(merge_dicts(d1, d2)) #Output: {'a': 3, 'b': 12, 'c': 6, 'd': 8}
```

In [101]:
def merge_dicts(d1, d2):
    """
    (dict, dict) -> dict
    Merges two dictionaries by summing values of common keys.
    If a key is only in one dictionary, it remains unchanged.

    """
    merged = d1.copy()  # Start with a copy of the first dictionary

    for key, value in d2.items():
        if key in merged:
            merged[key] += value  # Add values if key exists in both
        else:
            merged[key] = value  # Add new key-value pair

    return merged

In [103]:
# Test cases
d1 = {'a': 3, 'b': 5, 'c': 2}
d2 = {'b': 7, 'c': 4, 'd': 8}
print(merge_dicts(d1, d2))  
# Output: {'a': 3, 'b': 12, 'c': 6, 'd': 8}

d3 = {'x': 10, 'y': 20}
d4 = {'y': 15, 'z': 25}
print(merge_dicts(d3, d4))  
# Output: {'x': 10, 'y': 35, 'z': 25}

{'a': 3, 'b': 12, 'c': 6, 'd': 8}
{'x': 10, 'y': 35, 'z': 25}

### Problem 6: Finding Students Enrolled in a Given Class

**Problem Statement**

- Complete the function get_student_class(student_to_class, myclass) according to its docstring.

In [ ]:
def get_student_class(student_to_class, myclass):

    """
    (dict, str) -> list[str]
    
    In student_to_class, keys are student names and values are lists of classes each student is enrolled in.
    myclass is a class name given as string (such as 'aps106'). Return a list of students from student_to_class who are enrolled in `myclass`.
    If no student is enrolled in `myclass`, return an empty list.

    """


    students_in_class = []  # List to store students found in myclass

    for student, classes in student_to_class.items():
        if myclass in classes:  # Check if the class is in the student's list
            students_in_class.append(student)

    return students_in_class

In [88]:
# Test cases
D = {'Ana': ['csc258', 'aps106', 'mat188'], 
     'Frank': ['aps106', 'mat182'], 
     'Rachel': ['mat188']}

print(get_student_class(D, 'aps106'))  # Output: ['Ana', 'Frank']
print(get_student_class(D, 'mat188'))  # Output: ['Ana', 'Rachel']
print(get_student_class(D, 'csc258'))  # Output: ['Ana']
print(get_student_class(D, 'phy101'))  # Output: []

['Ana', 'Frank']
['Ana', 'Rachel']
['Ana']
[]

## 4. Advanced Functions

### 4.1 What Are Optional Parameters?

-	In Python, functions can have **optional parameters** with **default values**.
-	These parameters **don’t need to be explicitly specified** when calling the function.

### 4.2 Optional Parameters in Built-in Functions

The print() function has several optional parameters with default values:

```python 
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
```

- sep → Defines the separator between values **(default: space ' ')**.
- 	end → Defines what is printed at the end **(default: newline '\n')**.
- 	file → Specifies where to print **(default: sys.stdout)**.
- 	flush → Forces flushing of the output **(default: False)**.

In [ ]:
#Example

print("one", "two", "three", "four")  # Default behavior
# Output: one two three four

# We can specify different values for sep and end
print("one", "two", "three", "four", sep="...", end="!!!!")
# Output: one...two...three...four!!!!

one two three four
one...two...three...four!!!!

### 4.3 Optional Parameters in User-Defined Functions

You can define optional parameters with default values in your own functions.

In [10]:
def func(x, y=2):
    return x * y

# the y parameter takes on the default value 2
print('Using the default value:', func(3)) #Output: 6

# the default value of y is overriden
print('Default value overridden:', func(3, 5)) #Output: 15

Using the default value: 6
Default value overridden: 15


## 5. Aliasing

- Aliasing occurs when two variables reference the same object in memory.
- If an object is mutable, changes made through one variable are visible to all aliases.

In [11]:
lst1 = [2, 4, 6, 8]
lst2 = lst1  # lst2 is an alias for lst1
lst2[0] = "hi"

print(lst1)  # Output: ['hi', 4, 6, 8]
print(lst2)  # Output: ['hi', 4, 6, 8]

# Checking for Aliasing (Identity Check)
print(lst1 is lst2)  # Output: True

# Difference Between "==" (Equality) and "is" (Identity)
lst3 = [2, 4, 6, 8]
lst4 = [2, 4, 6, 8]

print(lst3 == lst4)  # Output: True (Both lists have the same content)
print(lst3 is lst4)  # Output: False (They are different objects in memory)

['hi', 4, 6, 8]
['hi', 4, 6, 8]
True
True
False

### 5.1  Mutable Objects as Function Arguments

- Mutable objects (like lists and dictionaries) are passed by reference to functions. This means that when you pass a mutable object to a function, the function receives a reference to the original object, not a copy. Therefore, any changes made to the object within the function will directly affect the original object outside the function.

In [ ]:
# Example 1

def func(my_input):
	my_input *= 2   # The list that my_input references is modified 'in place'
	

x = [[1, 2], [2,3]]
print(x) # [[1, 2], [2,3]] (Original list)

func(x)  # When the function is called, variables x and my_input become aliases 
print(x) # [[1, 2], [3, 4], [1, 2], [3, 4]] The value of x was affected by the execution of the function

[[1, 2], [2, 3]]
[[1, 2], [2, 3], [1, 2], [2, 3]]

In [16]:
# Example 2

def func1(my_input):
	my_input = my_input + my_input  # my_input is now a new list, not an alias (it references a new list)
	

x = [[1, 2], [2,3]]
print(x) # [[1, 2], [2,3]]

func1(x)
print(x) # [[1, 2], [2,3]] (The value of x was not affected by the execution of the function)

[[1, 2], [2, 3]]
[[1, 2], [2, 3]]

In [ ]:
# Example 3

def func1(my_input):
	my_input += my_input        # The operator += does NOT create a new list.
	                            # Instead, += modifies my_input in-place by extending it.
	                            # my_input.extend(my_input) is happening behind the scenes.
	                            # x is modified in-place to [[1, 2], [2, 3], [1, 2], [2, 3]].
	

x = [[1, 2], [2,3]]
print(x) # [[1, 2], [2,3]]

func1(x)
print(x) # [[1, 2], [2, 3], [1, 2], [2, 3]]

[[1, 2], [2, 3]]
[[1, 2], [2, 3], [1, 2], [2, 3]]

### 5.2 Immutable Objects as Function Arguments

- Immutable objects (like integers, strings, and tuples) cannot be modified inside functions.
- Functions receive a reference to the original object, but modifications create a new object.

In [ ]:
# Example 1

def func(my_input):
	my_input *= 2  # Creates a new integer, does NOT modify the original. (Integers are immutable)

x = 5
func(x)
print(x) # 5 (The value of x was not affected by the execution of the function)

5

In [ ]:
# Example 2

def func(my_input):
	my_input = my_input*2  # Creates a new integer, does NOT modify the original. (Integers are immutable)


x = 5
func(x)
print(x) # 5 (The value of x was not affected by the execution of the function)

5

### 5.3  Mutable Components Inside Immutable Objects

- An immutable object (e.g., a tuple) can contain mutable elements.
- Modifications to mutable elements affect the original object.

In [72]:
# Example

def modify_tuple(t):
    t[0][0] = 100  # Modifies the mutable list inside the tuple

x = ([1, 2], [3, 4])  # A tuple containing lists
modify_tuple(x)
print(x)  # Output: ([100, 2], [3, 4])

([100, 2], [3, 4])

### 5.4 Preventing Unwanted Aliasing

- If you want to modify an object inside a function without affecting the original, create a copy.

For Example:

```python
y = x.copy()   # Shallow copy
y = x[:]       # Slice copy
y = list(x)    # Constructor copy
```

In [73]:
#Example:

def safe_modify(my_list):
    my_list = my_list.copy()  # Creates a copy
    my_list.append(100)  # Modifies the copy

x = [1, 2, 3]
safe_modify(x)
print(x)  # Output: [1, 2, 3]

[1, 2, 3]

## 6. Appendix: Review Practice Problems

### Problem 7: Calculating Student Averages from Test Scores

**Problem Statement**

You are given a nested list representing a table of student grades. Each row contains:

1.	Student name (string)
2.	A tuple of grades (each tuple contains three integers representing scores from different tests)

Write a function process_grades(table) that:
-	Computes the average score for each student.
-	Returns a dictionary where:
-	The keys are student names.
-	The values are the average of their grades, rounded to two decimal places.



```python
# ------------------------------------------------------------------------------
```

Example:
```python
grades_table = [
    ["Sara", (85, 90, 78)],
    ["Bob", (88, 76, 92)],
    ["Diego", (70, 80, 85)]
]

print(process_grades(grades_table))

#Output: {'Sara': 84.33, 'Bob': 85.33, 'Diego': 78.33}

```


```python
# ------------------------------------------------------------------------------
```

In [ ]:
def process_grades(table):
    """
    (list) -> dict
    
    Given a nested list of student names and their grades (as tuples),
    return a dictionary mapping each student to their average grade,
    rounded to two decimal places.
    """
    result = {}  # Dictionary to store student names and their average scores

    for row in table:  # Iterate through rows of the table
        
        name = row[0] # Extract student name
        grades = row [1] # Extract grades

        # You can also use tuple unpacking:
        # name, grades = row


        avg_grade = round(sum(grades) / len(grades), 2)  # Compute the average
        result[name] = avg_grade  # Store in dictionary

    return result

In [25]:
# Test cases
grades_table1 = [
    ["Sara", (85, 90, 78)],
    ["Bob", (88, 76, 92)],
    ["Diego", (70, 80, 85)]
]
print(process_grades(grades_table1))  
# Output: {'Sara': 84.33, 'Bob': 85.33, 'Diego': 78.33}

grades_table2 = [
    ["David", (100, 95, 98)],
    ["Emma", (78, 82, 79)]
]
print(process_grades(grades_table2))  
# Output: {'David': 97.67, 'Emma': 79.67}

{'Sara': 84.33, 'Bob': 85.33, 'Diego': 78.33}
{'David': 97.67, 'Emma': 79.67}

### Problem 8: Analyzing Factory Production Data

**Problem Statement**

A manufacturing company tracks monthly production data for multiple factories over a year in a nested list, where:

- Each row represents a factory.
- The first element in each row is the factory name (string).
- The remaining 12 elements represent the number of units produced per month (integer values from January to December).

Write a function factory_performance(data, min_production) that:
 1.	Finds the factory with the highest total yearly production.
 2.	Finds all factories that produced at least min_production units every month.
 3.	Returns a tuple containing:
- A dictionary mapping each factory to its total production for the year.
- The name of the factory with the highest total production.
- A list of factories that met the minimum monthly production requirement, sorted alphabetically.




```python
# ------------------------------------------------------------------------------
```

Example:
```python
production_data = [
    ["Factory A", 500, 520, 490, 530, 550, 580, 600, 620, 610, 590, 570, 560],
    ["Factory B", 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710],
    ["Factory C", 400, 420, 410, 430, 440, 450, 460, 470, 480, 490, 500, 510],
    ["Factory D", 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660]
]

# ----------------

# 1. 
print(factory_performance(production_data, 500))

#Output:
({'Factory A': 6830, 'Factory B': 7860, 'Factory C': 5460, 'Factory D': 7260}, 'Factory B', ['Factory A', 'Factory B', 'Factory D'])

# ----------------

# 2.
print(factory_performance(production_data, 600))

#Output:
({'Factory A': 6830, 'Factory B': 7860, 'Factory C': 5460, 'Factory D': 7260}, 'Factory B', ['Factory B', 'Factory D'])
```

In [117]:
def factory_performance(data, min_production):
    """
    (list, int) -> (dict, str, list)

    Given a nested list where each row contains a factory name followed by 12 monthly production numbers,
    return:
    - A dictionary mapping each factory to its total yearly production.
    - The factory with the highest total production.
    - A sorted list of factories that produced at least `min_production` units in every month.
    """
    factory_totals = {}  # Dictionary to store total production per factory
    highest_production = float("-inf")
    highest_producing_factory = None
    consistent_factories = []

    for row in data:
        factory_name = row[0]  # Extract factory name
        production = row[1:]  # Extract monthly production values
        total_production = sum(production)  # Compute total yearly production
        factory_totals[factory_name] = total_production  # Store total production

        # Track the highest producing factory
        if total_production > highest_production:
            highest_production = total_production
            highest_producing_factory = factory_name

        # Check if factory meets minimum production requirement for every month
        meets_threshold = True
        for units in production:
            if units < min_production:
                meets_threshold = False
                break  # No need to check further for this factory

        if meets_threshold:
            consistent_factories.append(factory_name)

    return factory_totals, highest_producing_factory, sorted(consistent_factories)

In [119]:
# Test cases
production_data = [
    ["Factory A", 500, 520, 490, 530, 550, 580, 600, 620, 610, 590, 570, 560],
    ["Factory B", 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710],
    ["Factory C", 400, 420, 410, 430, 440, 450, 460, 470, 480, 490, 500, 510],
    ["Factory D", 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660]
]
print(factory_performance(production_data, 500))  
# Output: ({'Factory A': 6830, 'Factory B': 7860, 'Factory C': 5460, 'Factory D': 7260}, 'Factory B', ['Factory A', 'Factory B', 'Factory D'])

print(factory_performance(production_data, 600))  
# Output: ({'Factory A': 6830, 'Factory B': 7860, 'Factory C': 5460, 'Factory D': 7260}, 'Factory B', ['Factory B', 'Factory D'])

({'Factory A': 6720, 'Factory B': 7860, 'Factory C': 5460, 'Factory D': 7260}, 'Factory B', ['Factory B', 'Factory D'])
({'Factory A': 6720, 'Factory B': 7860, 'Factory C': 5460, 'Factory D': 7260}, 'Factory B', ['Factory B'])